/* Your code goes below here */

/*
/* Your code goes above here 
*/

p em{
    font-size: 28px;
}

p strong {
    font-size: 32px;
}

ul em{
    background-color: darkblue;
    color:yellow
}

ul strong{
    background-color: darkred;
    color: brown;
}